.li1{
    color: yellowgreen;
    font-size: 25px;
}
body{
    background-image: url(../images/emptyseats.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}
img{
    background-size: cover;
}